body{
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url(uwu.jpg);
  color:rgb(0, 0, 0);

}
input{
  border-radius: 8px;
}
.recuadro{
  background-color: rgb(121, 74, 139);
  
}
